h1,
p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: palevioletred;
  color: papayawhip;
  font-family: 'Nunito Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
}

.main-container > .filter-bar {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  text-align: center;
}

.main-container > .filter-bar > .sort .buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 5px;
  justify-content: center;
}

.main-container > .filter-bar > .sort > .buttons-container > button {
  background-color: transparent;
  border: 2px solid papayawhip;
  color: papayawhip;
  padding: 5px;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

.main-container > .filter-bar > .search > input {
  height: 30px;
  border-radius: 5px;
  border: 2px solid papayawhip;
  color: papayawhip;
  background-color: palevioletred;
  width: 50%;
}

#search::-webkit-input-placeholder {
  color: papayawhip;
  padding-left: 3px;
}

.main-container > .filter-bar > input:focus-visible {
  border: none;
}

.main-container > .card-container {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: minmax(auto, 500px);
  grid-gap: 10px;
  list-style-type: none;
  justify-content: center;
}

.main-container > .card-container > .card {
  border: 2px solid papayawhip;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.47);
}

.main-container
  > .card-container
  > .card
  > .avatar-container
  > .edit-btn
  > button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: palevioletred;
  padding: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.main-container > .card-container > .card > .avatar-container {
  background-color: papayawhip;
  height: 50%;
  text-align: center;
  color: palevioletred;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  font-size: 30px;
}

.main-container > .card-container > .card > .avatar-container > img {
  border-radius: 60px;
  width: 25%;
}

.main-container > .card-container > .card > .user-info-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  word-break: break-all;
}

.main-container > .card-container > .card > .edit-card-form > form {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-container
  > .card-container
  > .card
  > .edit-card-form
  > form
  > .submission {
  text-align: center;
}

.main-container
  > .card-container
  > .card
  > .edit-card-form
  > form
  > .submission
  > button {
  margin-top: 10px;
  background-color: papayawhip;
  border: 2px solid papayawhip;
  color: palevioletred;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
}

.main-container
  > .card-container
  > .card
  > .edit-card-form
  > form
  > div
  > input {
  border-radius: 5px;
  border: 2px solid papayawhip;
  color: papayawhip;
  background-color: palevioletred;
  margin-bottom: 5px;
}

.main-container
  > .card-container
  > .card
  > .edit-card-form
  > form
  > div
  > input::-webkit-input-placeholder {
  color: papayawhip;
  padding-left: 3px;
}

.main-container
  > .card-container
  > .card
  > .user-info-container
  > div
  > p:first-child {
  margin-top: 5px;
}
/* media queries */
@media (max-width: 1024px) {
  .main-container > .card-container {
    grid-template-columns: repeat(2, 50%);
  }

  .main-container > .card-container > .card > .edit-card-form > form {
    flex-direction: column;
  }

  .main-container > .filter-bar {
    grid-template-columns: repeat(1, 100%);
  }

  .main-container
    > .card-container
    > .card
    > .edit-card-form
    > form
    > .contact-info {
    display: flex;
    flex-direction: column;
  }

  .main-container
    > .card-container
    > .card
    > .edit-card-form
    > form
    > div
    > input {
    width: 90%;
  }

  .main-container
    > .card-container
    > .card
    > .edit-card-form
    > form
    > .submission {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .main-container > .card-container {
    grid-template-columns: repeat(2, 40%);
  }

  .main-container > .card-container > .card > .user-info-container {
    flex-direction: column;
  }
  .main-container > .card-container > .card > .avatar-container {
    flex-direction: column;
  }

  .main-container > .card-container > .card > .avatar-container > img {
    width: 35%;
  }
}

@media (max-width: 425px) {
  .main-container > .card-container {
    grid-template-columns: repeat(1, 100%);
  }

  .main-container > .card-container > .card > .user-info-container {
    flex-direction: column;
  }

  .main-container
    > .card-container
    > .card
    > .edit-card-form
    > form
    > .submission
    > button {
    width: 100%;
  }

  .main-container
    > .card-container
    > .card
    > .edit-card-form
    > form
    > div
    > input {
    width: 100%;
    padding: 0;
    margin: 5px auto;
    height: 14px;
  }
}
